<div class="row g-4 d-flex p-4 text-center justify-content-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <!-- <div class="icon-square"> -->
            <h5 class="card-title">Create a new token</h5>
            <p class="card-text">Make a new appointment</p>
            <a (click)="router.navigate(['/newtoken'])" class="btn btn-primary">Create New Token</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">My Token History</h5>
            <p class="card-text">See all created tokens</p>
            <a (click)="getAllTokens()" class="btn btn-primary">View Tokens</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Update my profile</h5>
            <p class="card-text">Update or edit profile</p>
            <a (click)="showUpdateView()" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<app-token *ngIf="showTokenView" [tokens]="tokens"></app-token>
<app-update-user *ngIf="showEditView"></app-update-user>