<div class="row g-4 d-flex p-4 text-center justify-content-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <!-- <div class="icon-square"> -->
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a (click)="getUsers()"class="btn btn-primary">Patients</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a (click)="getTokens()" class="btn btn-primary">Tokens</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a (click)="showEditView()" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<app-patient-view *ngIf="showPatientView" [patients]="patients"></app-patient-view>
<app-token *ngIf="showTokenView" [tokens]="tokens"></app-token>
<app-update-user *ngIf="showUpdateView"></app-update-user>
