<div class="row g-4 d-flex p-4 text-center justify-content-center">
    <!-- TODO: make button pretty-->
    <button *ngIf="userManager" (click)="deactivateTokens()">Deactivate Expired Tokens</button> 
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Token Number</th>
            <th>Date</th>
            <th>Patient</th>
            <th>State</th>
            <th *ngIf="userManager">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let token of tokens">
              <td>{{ token.tokenNumber }}</td>
              <td>{{ token.date }}</td>
              <td>{{ token.patient }}</td>
              <td>{{ token.state }}</td>
              <!--  TODO: make edit? -->
              <!-- <td *ngIf="userManager"><button (click)="(deleteToken(token.id))" type="button" mdbripple="" ripplecolor="dark" class="btn btn-link btn-rounded btn-sm fw-bold"> Edit </button></td> -->
            </tr>
          </tbody>
    </table>
</div>